.mt{
  margin-top: 10vh;
}

p {
  font-size: 1.25rem;
}

.oval {
  width: 230px;
  height: 230px;
  border-radius: 50%;

  font-size: 90px;
  float: left;
  shape-outside: ellipse();
  padding: 10px;
  background-clip: content-box;
}
span {
  display: inline-block;
}

img {
  border-radius: 50%;
  margin-top: 1rem;
}

.border-radius {
  border-radius: 1rem;
}

