<div class="col-4 offset-4 mt border p-4 border-radius">
  <div class="oval">
    <span> <img src="./assets/vv.jpeg" alt="Vanessa Virz'" width="200" height="190"></span>
  </div>
  <p>
    La Web App <strong>Book & Film Review</strong> è stata sviluppata interamente e totalmente dalla studentessa del Corso di Laurea in Matematica <strong>Virzì Vanessa (00A000265)</strong>.
  </p>
  <p>
    Il progetto d'interesse è della materia <strong>"Innovative methods to design develop and manage complex applications"</strong>.
  </p>
</div>

